.ui-brush {
  position:absolute;
  bottom:0;right:0;left:0;
  height:100px;
  }
.brush .extent {
  stroke:#fff;
  fill-opacity:0.125;
  shape-rendering:crispEdges;
  }

.axis text {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #100;
  shape-rendering: crispEdges;
}