/************************
        Styles
 ************************/

body {
    font-family: Raleway, sans-serif !important;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

#loading.active {
    opacity: 1;
    display: block;
}

#loading .fa {
    color: #eee;
    top: 40%;
    left: 45%;    
    font-size: 150px;
    position: fixed;
}

.leaflet-container {
    background-color: rgba(255,0,0,0.0);
}

/* Loading Indicator */
#loading.fa-cog {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    z-index:9999;
    font-size: 100px;
    position: absolute;
}

#legend {
    position: absolute;
    top: 0px;
    padding-top: 15px;
    right: 15px;
    width: 200px;
    height: 100%;
    overflow: scroll;
}

/* Map key*/
#key {
    
}

label {
    width: 100%;
}

/* Hubspot Messenger */
ul.messenger-theme-air .messenger-message {
    background-color: #fff;
}

/* 
 * Toggle-able Left Navigation. Inspiration thanks to:;
 * Start Bootstrap (http://startbootstrap.com)
 */

/* Toggle Styles */

#sidebar-wrapper {
    /*Bootstrap Override*/
    width: 200px !important;
}

.toggle-side-options {
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.toggle-side-options:hover{
    background-color: #eee;
}

.toggle-side-options i.fa-bars {
    text-align: center;
    margin-top: 7px;
    width: 100%;
}

/* Page Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #F5F5F5;
    border-right: 1px solid #DDD;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*Font Awesome Icons*/
.sidebar-nav .fa {
    font-size: 20px;
    margin-right: 15px;
    width: 50px;
    text-align: center;
} 

.sidebar-nav .active {
    background-color: #ddd;
}

.sidebar-nav .panel {
    margin-bottom: 0px;
}

.sidebar-nav .panel-body .fa {
    font-size: 12px;
    margin-right: 4px;
}

.sidebar-nav .panel-body .fa.fa-sign-in {
    font-size: 25px;
    color: #337AB7;
}

.sidebar-nav .panel-heading {
    padding: 10px;
}

.sidebar-nav .panel-heading .fa {
    font-size: 20px;
    margin-right: 15px;
    width: 20px;
    text-align: center;
} 

.sidebar-nav h4.panel-title a {
    padding-left: 15px;
    width: 100%;
    display: inline-block;
    height: 40px;
    line-height: 42px;
}

.sidebar-nav .panel-body {
    padding: 0px;
}

.sidebar-nav .panel-body form {
    padding: 17px;
}

.sidebar-nav .select2-container  li {
    line-height: 25px;
}


.sidebar-nav .fa.fa-info-circle {
    float: right;
    text-align: right;
}

#query-preset .fa-star {
    font-size: 25px;
    line-height: 34px;
    color: #D3CFCF;
}

#query-preset .fa-star.favorite {
    color: rgb(255, 160, 12);
}

#query-preset code {
    max-width: 200px;
    overflow: scroll;
}

.modal-header {
    padding: 0;
    border-bottom: none;
}

.modal-header .close {
    padding: 15px;
}

.modal-dialog {
    width: 900px;
}

.modal-footer {
    border-top: none;
}

.panel.key-map-missing {
    border: 1px solid red;
}

.panel span.status {
    float: right;
    padding: 6px;
}

.panel span.status.key-mapping {
    
}

.panel span.status.no-key-mapping {
    color: red;
    font-weight: 600;
}

.panel.preview .btn {
    margin-right: 10px;
}



.crossout {
    text-decoration: line-through;
}

.tools a {
    color: black;
}

.tools i.fa{
    margin-right: 12px;
} 

/* Background Image */
.leaflet-image-layer {
    z-index: -1;
}

.leaflet-popup-content {

}

.leaflet-popup-content p {
    margin: 0;
}

/* Utility class for making objects
   unseletable. Useful for icon that
   get double-clicked */
.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.position-map .clickable .fa {
    margin-right: 0px;
    font-size: 20px;
    padding: 3px;
}

.position-map .clickable .fa:hover {
    margin-right: 0px;
    font-size: 20px;
    padding: 3px;
    color: #222;
    background-color: #eee;
    cursor: pointer;
}


table#available-players {

}

table#available-players td {
    padding: 10px 18px 6px;
}

table#available-players td .fa {
    margin-left: 10px;
    width: 10px;
}

table#available-players td .fa-sign-in {
    margin-right: 20px;
}

table#available-players button {
    float: right;
}

table#available-players button i.fa{
    margin: 0px;
    width: auto;
}

.modal-dialog {
    max-width: 500px;
}

.modal-body, .modal-title {
    padding: 17px;
}

.color-select {
    margin: 0 30px;
}

.color-select .radio {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  display: inline-block;
  min-width: 70px;
}

.color-select .fa {
    font-size: 35px;
}

.filter-by-action {
    padding: 17px;
}

body.admin {

}

body.admin td p {
  max-width: 350px;
  overflow: scroll;
  word-wrap: break-word;
}

#popup-menu {
    display: none;
}

#save-map {
    display: block;
}

#save-map .btn {
    margin: 10px 0;
    display: block;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0 !important;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#active-players .fa {
    margin-right: 10px;
}

.tooltip-hover {
    background-color: #fff;
    padding: 2px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);

}

