<ul class="sidebar-nav">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-leanpub"></i> Select Map
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <form class="form">

            <label>Select Game</label>
            <select class="form-control" id="select-game">
            </select><br>

            <label>Select Map</label>
            <select class="form-control" id="select-map">
            </select>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-table"></i> Select Data
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body" style="padding: 0px;">
          <li onclick="QueryBuilder.open();"><a><i class="fa fa-search"></i>Query Database</a></li>
          <li onclick="MAP.getData();"><a><i class="fa fa-database"></i>Get All Data</a></li>
        </div>
      </div>
    </div>
 </div>

 <div class="panel-group tools" id="accordion2" role="tablist" aria-multiselectable="true">
   <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="tools">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion2" href="#toolsCollapse" aria-expanded="true" aria-controls="toolsCollapse">
           <i class="fa fa-wrench"></i> Tools
         </a>
       </h4>
     </div>
     <div id="toolsCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tools">
       <div class="panel-body" style="padding: 0px;">
         <li><a href="uploader.html"><i class="fa fa-database"></i>Upload Data</a></li>
         <li onclick="MAP.exportCSV();"><a><i class="fa fa-cloud-download"></i>Export .CSV</a></li>
       </div>
     </div>
   </div>
 </div>
</ul>