<ul class="sidebar-nav">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" onclick="UI.menu()" style="cursor:pointer"><i class="fa fa-bars"></i> Menu</h3>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-leanpub"></i> Select Map</h3>
    </div>
    <div class="panel-body">
      <form class="form">

        <label>Select Game</label>
        <select class="form-control" id="select-game">
        </select><br>

        <label>Select Map</label>
        <select class="form-control" id="select-map">
        </select>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i> Select Data
    </div>
    <div class="panel-body" style="margin-bottom: 20px;">

      <div class="filter-by-action">
    
        <p style="margin: 5px 10px;">Load users who did:</p>

        <!-- Select Actions -->
        <select class="action-select" multiple="multiple" style="width: 100%; display: none;">
        </select>

      </div>
      <div>

        <!-- Select Players -->
        <table id="player-list" class="table table-condensed table-hover"></table>

        <button class="btn btn-default" onclick="Visualizer.clear()">Clear</button>
        <button class="btn btn-primary" onclick="Visualizer.loadData()">Update</button>
      </div>
    </div>
  </div>
</ul>

