<ul class="sidebar-nav">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-leanpub"></i> Select Map</h3>
    </div>
    <div class="panel-body">
      <form class="form">

        <label>Select Game</label>
        <select class="form-control" id="select-game">
        </select><br>

        <label>Select Map</label>
        <select class="form-control" id="select-map">
        </select>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i> Select Data
    </div>
    <div class="panel-body">
      <li onclick="MAP.getData();"><a><i class="fa fa-database"></i>Get All Data</a></li>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-wrench"></i> Tools
    </div>
    <div class="panel-body">
       <li><a href="uploader.html"><i class="fa fa-database"></i>Upload Data</a></li>
       <li onclick="MAP.exportCSV();"><a><i class="fa fa-cloud-download"></i>Export .CSV</a></li>
    </div>
  </div>
</ul>

