

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-arrows-alt"></i> Position Map
    </h4>
  </div>
  <div>
    <div class="panel-body position-map">
      <a class="unselectable clickable" onclick="UI.moveMap(-10, 0)"><i class="fa fa-arrow-left"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(10, 0)"><i class="fa fa-arrow-right"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(0, 10)"><i class="fa fa-arrow-up"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(0, -10)"><i class="fa fa-arrow-down"></i></a>
      <br/>
      <a class="unselectable clickable" onclick="UI.scaleMap(1)"><i class="fa fa-expand"></i></a>
      <a class="unselectable clickable" onclick="UI.scaleMap(-1)"><i class="fa fa-compress"></i></a>
   </div>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-toggle-on"></i> Filter Data
    </h4>
  </div>
  <div>
    <div class="panel-body">
      <div class="checkbox">
        <div class="checkbox">
         <label>
           <input type="checkbox" id="toggle_paths" checked>Player Paths
         </label>
       </div>
     </div>
   </div>
 </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-toggle-on"></i> Add Layer
    </h4>
  </div>
  <div>
    <div class="panel-body">
      <div class="checkbox">
        <div class="checkbox">
         <label>
           <input type="checkbox" id="toggle_heatmap">Toggle Heatmap
         </label>
       </div>
     </div>
   </div>
 </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-group"></i> Players
    </h4>
  </div>
  <div>
    <div class="panel-body">
      <div class="checkbox">
        ...
     </div>
   </div>
 </div>
</div>
