<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="uploader.html" style="display: block;"><i class="fa fa-database"></i>Upload Data</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="maps.html" style="display: block;"><i class="fa fa-database"></i>Edit Maps</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a onclick="Exporter.toCSV();" style="display: block;"><i class="fa fa-cloud-download"></i>Export .CSV from Current Data Set</a>
    </h4>
  </div>
</div>


<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-comment"></i> Description
    </h4>
  </div>
  <div>
    <div class="panel-body">
    	<p>Description Goes Here</p>
   </div>
 </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-list-alt"></i> References
    </h4>
  </div>
  <div>
    <div class="panel-body">
       <p>Links to github, etc</p>
   </div>
 </div>
</div>
