<!--

legend.tpl.html
G-Player Data Visualization

- A template file for the right legend menu

Created: March 29, 2015
Authors:
Alex Johnson @alexjohnson505

-->

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-arrows-alt"></i> Position Map
    </h4>
  </div>
  <div>
    <div class="panel-body position-map">
      <a class="unselectable clickable" onclick="UI.moveMap(-10, 0)"><i class="fa fa-arrow-left"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(10, 0)"><i class="fa fa-arrow-right"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(0, 10)"><i class="fa fa-arrow-up"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(0, -10)"><i class="fa fa-arrow-down"></i></a>
      <a class="unselectable clickable" onclick="UI.scaleMap(1)"><i class="fa fa-expand"></i></a>
      <a class="unselectable clickable" onclick="UI.scaleMap(-1)"><i class="fa fa-compress"></i></a>
   </div>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-group"></i> Players
    </h4>
  </div>
  <div>
    <div class="panel-body" id="active-players">
      <p>To visualize player data, <a href="uploader.html"> upload player data</a> to the database. You may use the left menu to select which users are to be displayed on the map.</p>
   </div>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-toggle-on"></i> Add Layer
    </h4>
  </div>
  <div>
    <div class="panel-body">
      <div class="checkbox">
        <div class="checkbox">
         <label>
           <input type="checkbox" id="toggle_heatmap"> Add Heatmap from Currently Selected Filters
         </label>
       </div>
     </div>
   </div>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-toggle-on"></i> Filter Data
    </h4>
  </div>
  <div class="panel-body">
      <div class="btn btn-primary" onclick="Visualizer.refresh();" style="margin-bottom: 10px; width: 100%;">Update</div>
      <div class="btn btn-default" onclick="UI.filters.toggleAll(true)">Select All</div>
      <div class="btn btn-default" onclick="UI.filters.toggleAll(false)">None</div>
      <div id="filters"></div>
   </div>
 </div>
</div>

