<!--

left-options-menu.tpl.html
G-Player Data Visualization

- A template file for the menu

Created: April 6, 2015
Authors:
Alex Johnson @alexjohnson505

-->

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="uploader.html" style="display: block;"><i class="fa fa-database"></i>Upload Data</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="map.html" style="display: block;"><i class="fa fa-leanpub"></i>Edit Maps</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a onclick="Exporter.toCSV();" style="display: block;"><i class="fa fa-cloud-download"></i>Export .CSV from Current Data Set</a>
    </h4>
  </div>
</div>


<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-comment"></i> Description
    </h4>
  </div>
  <div>
    <div class="panel-body">
    	<p>G-Player Data Visualizer allows you to upload datasets, plot data 
        points onto maps, and filter the data further all in one place</p>
   </div>
 </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-list-alt"></i> References
    </h4>
  </div>
  <div>
    <div class="panel-body">
       <p>Please visit our <a href="https://github.com/spacial-player-data-visualization/g-player-visualization">Github</a> for the source code</p>
   </div>
 </div>
</div>
