<!--

left-options-menu.tpl.html
G-Player Data Visualization

- A template file for the left options menu

Created: March 25, 2015
Authors:
Alex Johnson @alexjohnson505

-->

<ul class="sidebar-nav">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" onclick="bootbox.alert($('#popup-menu').html());" style="cursor:pointer"><i class="fa fa-bars"></i> Menu</h3>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
	  <a data-toggle="collapse" href="#collapseSelectMap"><i class="fa fa-map"></i> Select Map</a>
	  </h3>
    </div>
    <div id="collapseSelectMap" class="panel-body panel-collapse collapse">
      <form class="form">

        <label>Select Game</label>
        <select class="form-control" id="select-game">
        </select><br>

        <label>Select Map</label>
        <select class="form-control" id="select-map">
        </select><br>

        <label>Select Fidelity <i class="fa fa-info-circle" onclick="alert('Description: For large datasets you may select to lower the data fidelity. This reduces the amount of position points per minute that the server returns. This option only reduces position data, and does not remove actions or events.')"></i></label>

          <select class="form-control" id="select-fidelity">
            <option value="1">100%</option>
            <option value="2">50%</option>
            <option value="5">20%</option>
            <option value="10">10%</option>
            <option value="25">5%</option>
            <option value="100">1%</option>
          </select>

        </div>

      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
	  <a data-toggle="collapse" href="#collapsePlayers"><i class="fa fa-user"></i> Players </a>
	  </h3>
    </div>
    <div id="collapsePlayers" class="panel-body panel-collapse collapse" style="margin-bottom: 20px;">

      <div class="filter-by-action">
    
        <p>Filter users who: <i class="fa fa-info-circle" onclick="alert('View a list of players that performed the selected actions during their play time.')"></i></p>

        <!-- Select Actions -->
        <select class="action-select" multiple="multiple" style="width: 100%; display: none;">
        </select>

      </div>
	  
	  <div class="checkbox">
		<label>
			<input onclick="UI.getListOfAvailablePlayerIDs()" type="checkbox" id="show_added">
			Show added players only
		</label>
	  </div>
      <div class="player-add-remove" style="height:300px; overflow:auto;" >
        <!-- Select Players -->
        <table id="available-players" class="table table-condensed table-hover"></table>
      </div>
	  <div class="" style="padding: 5px 17px;">  
          <button class="btn btn-default" onclick="UI.players.removePlayers()">Clear All</button>
          <button class="btn btn-primary" onclick="UI.players.addAll()" >Add All</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    
	<div class="panel-heading">
      <h3 class="panel-title">
		<a data-toggle="collapse" href="#collapseGroups">
		  <i class="fa fa-users"></i> 
		  Groups
		  </a>
	  </h3>
    </div>
    
	<div  id="collapseGroups" class="panel-body panel-collapse collapse" style="margin-bottom: 20px;">

		<div class="group-add-remove">
		<!-- Add Groups / Select Players -->
			<div class="select-players">
				<p>Select Players to add-to a group:</p>
				<div id="players-in-group" style="height:300px; overflow:auto;"></div>
			</div>
        
			<div class="group-name">
				<p>Group Name: <input type="text" value="group 101" id="groupName"></p>
			</div>
			
			<div class="create-group">
				<p>	
					<button class="btn btn-default btn-sm" onclick="UI.groups.addGroup()">Add to Group</button>
				</p>
			</div>
			
			<div class ="groups-add-remove">
				<table id="available-groups" class="table table-condensed table-hover"></table>
			</div>
		</div>
		
		</div>
	  
	</div>
	
	<div class="panel panel-default">
    
	<div class="panel-heading">
      <h3 class="panel-title">
		<a data-toggle="collapse" href="#collapseSession">
		  <i class="fa fa-lock"></i> 
		  Save / Load Session
		  </a>
	  </h3>
    </div>
    
	<div  id="collapseSession" class="panel-body panel-collapse collapse" style="margin-bottom: 20px;">

    	<p>Save the current status of Gplayer session or load an earlier session.</p>
		
		<table class="table">
		<tr>
		<td>
		Save
		</td>
		<td>
		</td>
		</tr>
		<tr>
		<td>
		<input type="text" id="session_filename" value="" />
		<button class="btn btn-default" onclick="Session.save()">Save to file</button>
		</td>
		</tr>
		<tr>
		<td>
		Load
		</td>
		<td>
		</td>
		</tr>
		<tr>
		<td>
		<input type="file" id="fileinput" style="width: 100%;" onchange="Session.load()" />
		</td>
		</tr>
		</table>
		
	</div>
	  
	</div>
	
   </div>
</ul>

