<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-comment"></i> Description
    </h4>
  </div>
  <div>
    <div class="panel-body">
    	<p>Description Goes Here</p>
   </div>
 </div>
</div>


<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-wrench"></i> Tools
    </h4>
  </div>
  <div>
    <div class="panel-body">
       <a href="uploader.html"><i class="fa fa-database"></i>Upload Data</a><br><br>
       <a onclick="Exporter.toCSV();"><i class="fa fa-cloud-download"></i>Export .CSV</a>
   </div>
 </div>
</div>


<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-users"></i> Credits
    </h4>
  </div>
  <div>
    <div class="panel-body">
       <p>...</p>
   </div>
 </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-list-alt"></i> References
    </h4>
  </div>
  <div>
    <div class="panel-body">
       <p>Links to github, etc</p>
   </div>
 </div>
</div>
