<!--

legend.tpl.html
G-Player Data Visualization

- A template file for the right legend menu

Created: March 29, 2015
Authors:
Alex Johnson @alexjohnson505
Alex Gimmi @ibroadband

-->

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-arrows-alt"></i> Position Map
    </h4>
  </div>
  <div>
    <div class="panel-body position-map">
      <a class="unselectable clickable" onclick="UI.moveMap(-10, 0)"><i class="fa fa-arrow-left"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(10, 0)"><i class="fa fa-arrow-right"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(0, 10)"><i class="fa fa-arrow-up"></i></a>
      <a class="unselectable clickable" onclick="UI.moveMap(0, -10)"><i class="fa fa-arrow-down"></i></a>
      <a class="unselectable clickable" onclick="UI.scaleMap(1)"><i class="fa fa-expand"></i></a>
      <a class="unselectable clickable" onclick="UI.scaleMap(-1)"><i class="fa fa-compress"></i></a>
      <div id="save-map" style="display: none;">
        <div class="btn btn-primary" onclick="UI.saveMap();">Save Map</div>
        <p style="color: #EC5151;">Alert: Your changes to the map are not currently saved.</p>
      </div>
   </div>
 </div>
</div>

<!--
<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-group"></i> Players
    </h4>
  </div>
  <div>
    <div class="panel-body" id="active-players">
      <p>To visualize player data, <a href="admin/uploader.html"> upload player data</a> to the database. You may use the left menu to select which users are to be displayed on the map.</p>
   </div>
 </div>
</div>
-->

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-toggle-on"></i> Filter Data
    </h4>
  </div>
  <div class="panel-body">
      <!--<div class="btn btn-primary" onclick="Visualizer.refresh();" style="margin-bottom: 10px; width: 100%;">Update</div> -->
	  <div> Player : 
		<select id="active-players-list">
			<option value="all">All</option>
		</select>
	  </div>
	  <div> Actions: </div>
      <div id="filters"></div>
	  <div class="btn btn-default btn-sm" onclick="UI.filters.toggleAll(true)">Select All</div>
      <div class="btn btn-default btn-sm" onclick="UI.filters.toggleAll(false)">Clear All</div>
   </div>
 </div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-area-chart"></i> Heatmaps
    </h4>
  </div>
  <div class="panel-body">
    <div class="btn btn-success col-md-4" onclick="Heatmap.add(Visualizer.activeData(settings.data), UI.filters.categories().toString());">
     <span class="glyphicon glyphicon-plus"></span>
    </div>
    <div class="btn btn-warning col-md-4" onclick="Heatmap.hide(settings.activeHeatmap);">
      <span class="glyphicon glyphicon-eye-close"></span>
    </div>
    <div class="btn btn-danger col-md-4" onclick="Heatmap.remove(settings.activeHeatmap);">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div id="available-heatmaps" style="margin-top: 10px"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-line-chart"></i> Boolean Operation
    </h4>
  </div>
  <div class="panel-body">
    <div class="btn btn-primary col-md-4" onclick="UI.boolops.add(UI.boolops.selectedHeatmapIds())">
     <span class="glyphicon glyphicon-plus"></span>
    </div>
    <div class="btn btn-primary col-md-4" onclick="UI.boolops.loadIntersect(UI.boolops.selectedHeatmapIds())">
      <span class="glyphicon glyphicon-random"></span>
    </div>
    <div class="btn btn-primary col-md-4" onclick="UI.boolops.loadSubtract(UI.boolops.selectedHeatmapIds())">
      <span class="glyphicon glyphicon-minus"></span>
    </div>
    <div id="boolean-heatmaps" style="margin-top: 40px"></div>
  </div>
</div>

</div>

