<!--

left-options-menu.tpl.html
G-Player Data Visualization

- A template file for the menu

Created: April 6, 2015
Authors:
Alex Johnson @alexjohnson505
Alex Gimmi @ibroadband

-->

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="admin/uploader.html" style="display: block;"><i class="fa fa-database"></i>Upload Data</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="admin/map.html" style="display: block;"><i class="fa fa-leanpub"></i>Edit Maps</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="admin/key.html" style="display: block;"><i class="fa fa-sitemap"></i>Edit Key Mappings</a>
    </h4>
  </div>
</div>


<!-- <div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="map.html" style="display: block;"><i class="fa fa-leanpub"></i>Edit Maps</a>
    </h4>
  </div>
</div> -->

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a onclick="Exporter.toCSV();" style="display: block;"><i class="fa fa-cloud-download"></i>Export .CSV from Current Data Set</a>
    </h4>
  </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-lock"></i> Save / Load Gplayer Session
    </h4>
  </div>
<!--    <div class="panel-body">
    	<p>Save the current status of Gplayer session or load an earlier session.</p>
		
		<table class="table">
		<tr>
		<td>
		<p> Save </p>
		</td>
		<td>
		</td>
		</tr>
		<tr>
		<td>
		<input type="text" id="session_filename" value="" />
		</td>
		<td>
		<button id="btn-save" type="submit" class="btn btn-default">Save to file</button>
		</td>
		</tr>
		<tr>
		<td>
		Load
		</td>
		<td>
		</td>
		</tr>
		<tr>
		<td>
		<select id="session_list" >
			<option value="empty" >No Sessions available</option>
		</select>
		</td>
		<td>
		<button class="btn btn-default" onclick="Session.load()">Load</button>
		</td>
		</tr>
		</table>
   </div> -->
</div>


<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-comment"></i> Description
    </h4>
  </div>
  <div>
    <div class="panel-body">
    	<p>G-Player Data Visualizer allows you to upload datasets, plot data 
        points onto maps, and filter the data further all in one place</p>
   </div>
 </div>
</div>

<div class="panel panel-default tools">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <i class="fa fa-list-alt"></i> References
    </h4>
  </div>
  <div>
    <div class="panel-body">
       <p>Please visit our <a href="https://github.com/spacial-player-data-visualization/g-player-visualization">Github</a> for the source code</p>
   </div>
 </div>
</div>
