<!--
timeline.html
G-Player Data Visualization

- A template file for the right legend menu

Created: Feb 28, 2015
Authors:
Tariq Anwar
-->



  <div class="navbar navbar-default navbar-fixed-bottom">
  <div class = "container"> 
  <select id="playback-players-list" >
		<option value="">Select Player</option>
  </select>
  </div>
  </div>  
  
  <script>
   var control;
   var  playback;
   var myLayer;
   var featuregroup;
  $("#playback-players-list").change(function() {
    var index = $("select[id='playback-players-list'] option:selected").index();
   // console.log("IndexXXXXXXX"+index);
    //var data = "foobar";
    //$("#panel").hide().html(data).fadeIn('fast');

   //  if (visualizer.data.length != 0) {
	//Visualizer.update();
   $(".lp").remove();
	var vis = Visualizer.getTimelineData();
  var playbackOptions = {};
    
     var c = parseInt(index);
      //if(control != undefined){
        console.log("length"+vis.length);
        console.log("Indexxx:" +c);
       // console.log("SIZE"+vis.tdata[index].length);
      //  console.log(JSON.stringify(vis[c], null, 4));
       // $('#lp').remove();
       // $(".lp").remove();
       // control.removeFrom(map);
       // playback = null;
     // }
       playback = new L.Playback(map, vis[c],null, playbackOptions);
       control = new L.Playback.Control(playback);
       control.addTo(map);
	////////////////////////////////////////////////////////

       if(myLayer != undefined){
        // console.log("removeeeeeeee");
         //  map.removeLayer(myLayer);
        // d3.selectAll(".brush").remove();
         //  myLayer.clearLayers();
        // $(".brush").remove();
        // $(".lay").remove();
        // $("#circle").remove();
       // map.removeLayer(settings.brushLayer[c]);
      myLayer.clearLayers();
      map.removeLayer(myLayer);
      $("#lay").remove();
      $("#brush").empty();
       }
       
       //$("div.x brush").remove();
      // $(".brush").remove();
      // d3.selectAll(".brush").remove();
      


	     myLayer = L.geoJson().addTo(map);
		   myLayer.addData(settings.brushLayer[c]);
		   setBrush(settings.brushLayer[c]);
		
		function pointColor(feature) {
			return feature.properties.start> 5 ? '#f55' : '#a00';
		}

		function pointRadius(feature) {
			return 6;
		}
	
/*
author: Tariq Anwar
created: Feb 22, 2016
purpose: Adding D3 brush component.
argument: the formatted data 
*/		
	function setBrush(data) {
   // console.log(data.features.properties.start[1]);
    var t=[];
    var container = d3.select('#brush'),
       width =750,    
       height = 100;
       margin = {top: 50, right: 50, bottom: 100, left: 640};
     
    var timeExtent = d3.extent(data.features, function(d) {
        t.push(new Date(d.properties.start));
        return new Date(d.properties.start);
    });

    var svg = container.append('svg')
        .attr("class", "grid-background")
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom);

    var context = svg.append('g')
        .attr('class', 'context')
        .attr('transform', 'translate(' +
            margin.left + ',' +
            margin.top + ')');


    var x = d3.time.scale()
        .range([0, width])
        .domain(timeExtent);  

    var brush = d3.svg.brush()
        .x(x)
        .extent([t[0],t[0]])
        .on('brushend', brushend);     
     
	context.selectAll('circle.quake')
		   .data(data.features)
		   .enter()
		   .append('circle')
       .attr('id','circle')
		   .attr('transform', function(d) {

				return 'translate(' + [x(new Date(d.properties.start)), height/2] + ')';
			    })
		   .attr('r', pointRadius)
		   .attr('opacity', 0.5)
		   .attr('stroke', '#fff')
		   .attr('stroke-width',0.5)
		   .attr('fill', pointColor);


	context.append('g')
			.attr('class', 'x brush')
      .attr('id','lay')
			.call(brush)
      .call(brush.event)
			.selectAll('rect')
			.attr('y', -6)
			.attr('height', height);    


        function brushend() {
        var filter;
        if (brush.empty()) {
          console.log("IF condition");
            filter = function() { return true; 
             }
        } else {
            console.log("ELSE condition");
            // Otherwise, restrict features to only things in the brush extent.
            filter = function(feature) {
              //console.log("strart"+feature.properties.start);
              //console.log("zero"+brush.extent()[0] +"one"+brush.extent()[1]);
                return feature.properties.start > +brush.extent()[0] &&
                    feature.properties.start < (+brush.extent()[1]);
            };
        }
        var filtered = data.features.filter(filter);
             myLayer.clearLayers()
            .addData(filtered);
        }


            function drawBrush() {

    // define our brush extent to be begin and end of the year
    brush.extent(timeExtent)
    // brush.extent([[250, 80], [600, 80]]);

    // now draw the brush to match our extent
    // use transition to slow it down so we can see what is happening
    // remove transition so just d3.select(".brush") to just draw
    brush(d3.select("#brush").transition());

    // now fire the brushstart, brushmove, and brushend events
    // remove transition so just d3.select(".brush") to just draw
    brush.event(d3.select("#brush").transition().delay(10))
  }

}



///////////////////////////////////////////////////////	
			 
			 
   //     } 
  });
  
  
  </script>
